@tailwind base;
@tailwind components;
@tailwind utilities;


.volume-container .volume-bar {
    display: none;
}

.volume-container:hover .volume-bar {
    display: block;
}

.volume-bar:hover {
    display: block;
}

.volume-container {

    transform: rotate(270deg);
    -moz-transform: rotate(270deg);

}